.App {
  margin: 100px;
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
    sans-serif;
}
.gmtDiv {
  float: right;
}
.dateDiv {
  float: left;
  width: 500px;
  display: flex;
}
.inforDiv {
  overflow: hidden;
}
.flex {
  flex: 1;
}
.btn {
  background-color: #fff;
  border: rgb(184, 184, 184) 1px solid;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px 30px;
  color: #606266;
  height: 45px;
}
.btn:hover {
  border: #dbdbdb 1px solid;
  color: #dbdbdb;
  cursor: pointer;
}
.btnDiv {
  margin: 10px 20px 10px 0;
  overflow: hidden;
}
.testBorder {
  border: black 3px solid;
}
.acvatedDiv {
  height: 5px;
  margin: 0 10px;
  background-color: rgb(185, 185, 255);
}
.contentDiv {
  display: flex;
  text-align: center;
  margin-top: 30px;
}
.eachDayDiv {
  flex: 1;
}
button:disabled,
button[disabled] {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  color: #cacaca;
  cursor: no-drop;
}
h2 {
  font-weight: normal;
}
.toGray {
  height: 5px;
  margin: 0 10px;
  background-color: rgb(173, 173, 173);
}
.textToGray {
  color: rgb(173, 173, 173);
}
.lang {
  position: absolute;
  margin-left: 40%;
  margin-top: -5%;
  border: solid 3px rgb(218, 218, 255);
  border-radius: 2px;
  background-color: #fff;
}
.App {
  position: relative;
}
